<div class="modal-overlay">

    <!-- Modal content -->
    <div class="modal-card">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="modal-header">
        <img [src]="currentCake.imageUrl" alt="" class="modal-img">
      </div>
      <div class="modal-body">
        <h1 class="cake-title">{{currentCake.productName}}</h1>
        <p class="cake-text">{{currentCake.productDescription}}</p>
        <p class="qty-label qty-portion">Quantity</p>
        <i class="fa-solid fa-plus qty-portion" (click)="addQuantity()"></i>
        <input type="text" value={{tempCakeQuantity}} 
        class="cake-quantity qty-portion" (change)="typedQuantity(cakeQuantity.value)"
         #cakeQuantity>
        <i class="fa-solid fa-minus qty-portion" (click)="minusQuantity()"></i>
        <p class="price">Subtotal: P{{tempCakeQuantity * currentCake.productPrice}}.00</p>
        
        <button class="btn-add-cart">Add to Cart</button>

        
      </div>
      
      
    </div>
    
</div>
