.footer-container{
    background-image: linear-gradient(to bottom, rgb(65, 37, 2),  rgb(36, 24, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    height: 7rem;
    width: auto;
    margin: 3rem;

}



.btn-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 3rem;
}

.footer-btn{
    color: white;
    font-size: 1.1rem;
    padding: 7px 20px 7px 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 4px 5px rgba(0,0,0,0.3);
}

.footer-btn:hover{
    background-image: linear-gradient(to bottom, rgb(211, 185, 40),  rgb(173, 117, 12));
    color: white;
    transform: scale(1.025);
}

.social-media-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
}

.social-media-btn:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 550px) {
    .btn-container{
        flex-direction: column;
        gap: 1.3rem;
    }

    .footer-logo{
        height: 4rem;
    }
  }