<div class="footer-container">
    <img src="assets/logo.png" alt="" class="footer-logo">
    <div class="btn-container">
        <button class="footer-btn" routerLink="/Services">Our Services</button>
        <button class="footer-btn" routerLink="/Careers">Our Careers</button>
        <button class="footer-btn" (click)="openContactModal()">Contact Us</button>
    </div>
    <div class="social-media-container">
        <a href="https://facebook.com" target="_blank" class="social-media-btn">
            <img src="assets/icon-facebook.png" alt="">
        </a>
        <a href="https://twitter.com" target="_blank" class="social-media-btn">
            <img src="assets/icon-twitter.png" alt="">
        </a>
        <a href="https://instagram.com" target="_blank" class="social-media-btn">
            <img src="assets/icon-instagram.png" alt="">
        </a>
    </div>
</div>

<app-contact *ngIf="generateContactModal.showContactModal"></app-contact>