<div class="checkout-card">
    <i class="fa-solid fa-truck"></i>

    <form (ngSubmit)="onSubmit()" #checkoutForm="ngForm">
        
        <div class="shipping-info-container">

            <label for="fname"> First name </label>
            <input type="text" id="fname" name="fname" [(ngModel)]="fname" required #fnameInput="ngModel">
            <div *ngIf="fnameInput.invalid && fnameInput.touched"><small>*First Name is Required!</small></div>

            <label for="lname"> Last name </label>
            <input type="text" id="lname" name="lname" [(ngModel)]="lname" required #lnameInput="ngModel">
            <div *ngIf="lnameInput.invalid && lnameInput.touched"><small>*Last Name is Required!</small></div>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="email" required email #emailInput="ngModel">
            <div *ngIf="emailInput.invalid && emailInput.touched"><small>*Email is invalid!</small></div>

            <label for="addressA">Address 1</label>
            <input type="text" id="addressA" name="addressA" [(ngModel)]="addressA" required #addressAInput="ngModel">
            <div *ngIf="addressAInput.invalid && addressAInput.touched"><small>*Address is Required!</small></div>

            <label for="addressB">Address 2 <span class="optional">(optional)</span></label>
            <input type="text" id="addressB" name="addressB" [(ngModel)]="addressB" #addressBInput="ngModel">

            <button type="submit" [disabled]="!checkoutForm.valid">Submit</button>
        </div>
    </form>
</div>