.background{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-brown);
    background-image: url('../../assets/pastry-coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    @apply tw-flex tw-bg-slate-300;
    flex-direction: column;
    height: 22rem;
    width: 15rem;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(227, 227, 231);
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(202, 6, 143, 0.4);
    background-color: rgb(65, 37, 2);
    color: white;
}

.card:hover .card-title{
    color: rgb(211, 185, 40);
}


.card-img{
    width: auto;
    height: 200px;
    object-fit: cover;
    
    border-radius: 12px 12px 0 0;
}

.card-img:hover{
    filter: opacity(0.8) drop-shadow(0 0 0 rgb(255, 208, 0));
    cursor: pointer; 
    transition: filter 0.3s ease-in;
    
}

.card-img:hover + .view{
    display: block;
    opacity: 1;
    
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(173, 117, 12);
    font-family: 'Raleway';
}

.btn-add-cart{
    background-color: rgb(65, 37, 2);
    position: relative;
    top: 16px;
    padding: 5px;
    border-radius: 0 0 12px 12px;
    color: rgb(65, 37, 2);
    color: rgb(240, 239, 238);
    
    font-weight: bold;
}

.btn-add-cart:hover{
    background-image: linear-gradient(to right, rgb(211, 185, 40),  rgb(173, 117, 12));
    transition: 0.5s;
    color: white;
}


.cakes-section{
    font-size: 2.5rem;
    color: rgb(252, 229, 98);
    text-align: center;
    font-family: 'Poppins';
    margin: 20px 0 20px 0;
    background-color: rgb(173, 117, 12);
    
}
