.card{
    @apply tw-flex tw-bg-slate-300;
    flex-direction: column;
    height: 22rem;
    width: 15rem;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(227, 227, 231);
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(202, 6, 143, 0.4);
}

.card-img{
    width: auto;
    height: 200px;
    object-fit: cover;
    
    border-radius: 12px 12px 0 0;
    
}

.card-img:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(199, 165, 15));
    cursor: pointer; 
    transition: filter 0.5s linear;
    
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(173, 117, 12);
    font-family: 'Raleway';
}

.btn-add-cart{
    background-color: rgb(218, 157, 187);
    position: relative;
    top: 16px;
    padding: 5px;
    border-radius: 0 0 12px 12px;
    color: white;
    font-weight: bold;
}

.btn-add-cart:hover{
    background-image: linear-gradient(to right, rgb(189, 14, 66),  rgb(170, 49, 144));
    transition: 2s;
}