

<nav class="navbar-container">
    <div class="logo-container">
        <img src="assets/logo.png" alt="" class="nav-logo">
        <i class="fa-solid fa-bars" (click)="showMenu=!showMenu" 
        [ngClass]="{'active-menu-btn': showMenu === false}"
        ></i>
        <i class="fa-solid fa-xmark" (click)="showMenu=!showMenu" 
        [ngClass]="{'active-menu-btn': showMenu === true}"></i>
        <ul class="menu-list " [ngClass]="{'active': showMenu === true}">
            <a routerLink="/home"><li class="menu-item nav-hover">Home</li></a>
            <a routerLink="/stores"><li class="menu-item nav-hover">Stores</li></a>
            <a routerLink="/cakes"><li class="menu-item nav-hover">Cakes</li></a>
        </ul>
    </div>

    <div class="search-container ">
        <input type="text" name="" id="" class="search-bar" [(ngModel)]="searchedItem" (keyup.enter)="onSearch()">
        <i class="fa-solid fa-magnifying-glass nav-hover" (click)="onSearch()" ></i>
    </div>
    
   
    <div class="account-container " [ngClass]="{'active': showMenu === true}">
        <a routerLink="/cart"><i class="fa-solid fa-cart-shopping nav-hover"></i></a>
        <span class="cart-number">{{totalCartItems}}</span>
    </div>
</nav>
<div class="nav-border"></div>