.navbar-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(65, 37, 2);
    color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 15px 0;
}
.nav-border{
    display: block;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, var(--bright-gold), var(--golden-ochre));
    transition: background-image 0.6s ease-out;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-logo{
    
    height: 4rem;
    width: auto;
    margin-left: 3rem;
    
}

.fa-bars{
    font-size: 1.7rem;
    display: none;
}

.fa-xmark{
    font-size: 1.7rem;
    display: none;
}

.menu-list{
    display: flex;
    gap: 1rem;
}

.search-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
}

.search-bar{
    width: 28vw;
    height: 2rem;
    border-radius: 12px;
    background-color: wheat;
    color:var(--dark-brown);
    text-align: center;
}

.fa-magnifying-glass{
    font-size: 1.2rem;
}

.fa-cart-shopping{
    justify-self: start;
    font-size: 1.2rem;
}

.account-container{
    display: flex;
    gap: 2rem;
    justify-content: end;
    align-items: center;
}

.access{
    color: white;
    padding: 3px;
}

.access:last-child{
    margin-right: 2rem;
}

.nav-hover:hover{
    color: var(--golden-ochre);
    cursor: pointer;
}




@media screen and (max-width: 899px) {
    
    
    nav{
        font-size: 0.85rem;
    }

    .nav-logo{
        height: 3rem;
        margin-left: 1.5rem; 
    }

    .access:last-child{
        margin-right: 1rem;
    }
    
}



@media screen and (max-width: 674px) {
    .navbar-container{
        justify-content: center;
        flex-direction: column;
    }

    
    


    .logo-container{
        flex-direction: column;
        flex-wrap: wrap;
        order: 2;
    }

    .nav-logo{
        min-height: 3rem;
        height: 5rem;
    }
    .menu-list{
        display: none;
    }

    

    .nav-logo{
        height: 4rem;
        transform: translateX(-20px);
    }

    .search-container{
        order: 3;
        margin: 20px 0 20px 0;
    }

    .search-bar{
        width: 70vw;
    }

    .account-container{
        order: 1;
        margin: 15px 0 30px 0;
        position: relative;
        left: -30%;
        display: none;
    }
    
    .menu-list{
        flex-direction: column;
    }

    .active-menu-btn{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }

    .active{
        display: flex !important;
    }

    
}